.container-inscription 
{
	width: 550px;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-5%);
	margin: auto;
}

.box-inscription 
{
	width: 400px;
	height: 515px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: $white;
	box-shadow: 0px 0px 10px 1px $shadow;
}


.box-inscription legend,
{
	margin-top: 30px;
	font-weight: $medium;
	font-size: 36px;
}

.box-inscription .name-title, .mdp-title 
{	
	font-weight: $regular;
	font-size: 16px;
	margin-bottom: 4px;
}

.container-inscription .inscription
{
	width: 130px;
	height: 40px;
	margin-top: 30px;
	border-radius: 3px;
	border: 0px;
	font-weight: $regular;
	font-size: 16px;
	color: $white;
	background-color: $blue;
	box-shadow: 0px 0px 5px $shadow;
	cursor: pointer;
}

.container-inscription .inscription:hover 
{
	background-color: $blue_hover;
	color: $white;
	transition-duration: 0.2s;
	transition-timing-function: ease;

}

.content-check 
{
	width: 350px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.error, .error_messages
{
    color: $red;
}

.error_messages, .no_obligatory
{
	font-size: 12px;
	font-style: italic;
}

.btn-inscription 
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;	
}
